<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>学习资料</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/layui.css"  media="all">
    <link rel="stylesheet" href="litera.css"  media="all">
</head>


<body id="body" οnscrοll=SetCookie("scroll",body.scrollTop); οnlοad="scrollback();">
<!--<a href="/literature/test.txt"-->
<!--   download="w3logo"-->
<!--&gt;123123</a>-->
<!--导航-->
<header>
    <ul class="layui-nav lthul" lay-filter="">
        <li class="layui-nav-item"><a href="#"><img class="CCSU-icon" src="img/logo.jpg"></a></li>
        <li class="layui-nav-item"><a href="#">计算机科学与应用数学学院</a></li>
        <li class="layui-nav-item"><a href="#">软件1806班</a></li>
        <li class="layui-nav-item"><a href="/index">作业</a></li>
        <li class="layui-nav-item layui-this " >
            <a href="javascript:;">功能菜单</a>
            <dl class="layui-nav-child "> <!-- 二级菜单 -->
                <dd><a href="/litera" class="layui-this" style="background-color: #5FB878; color: #fff;" >学习资料</a></dd>
                <dd><a href="#" class="gn">功能二</a></dd>
                <dd><a href="#" class="gn">功能三</a></dd>
            </dl>
        </li>
    </ul>

</header>
<!--导航结束-->

<!--功能-->
<div class="layui-container">
     <div class="layui-row">


     </div>
</div>






<script src="layui.js" charset="utf-8"></script>
<script src="litera.js" charset="utf-8"></script>
<script>

</script>
</body>

</html>