<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>学习资料</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/layui.css"  media="all">
    <link rel="stylesheet" href="litera.css"  media="all">
</head>


<body id="body" οnscrοll=SetCookie("scroll",body.scrollTop); οnlοad="scrollback();">
<!--<a href="/literature/test.txt"-->
<!--   download="w3logo"-->
<!--&gt;123123</a>-->
<!--导航-->
<header>
    <ul class="layui-nav lthul" lay-filter="">
        <li class="layui-nav-item"><a href="#"><img class="CCSU-icon" src="img/logo.jpg"></a></li>
        <li class="layui-nav-item"><a href="#">计算机科学与应用数学学院</a></li>
        <li class="layui-nav-item"><a href="#">软件1806班</a></li>
        <li class="layui-nav-item"><a href="/index">作业</a></li>
        <li class="layui-nav-item layui-this " >
            <a href="javascript:;">功能菜单</a>
            <dl class="layui-nav-child "> <!-- 二级菜单 -->
                <dd><a href="/litera" class="layui-this" style="background-color: #5FB878; color: #fff;" >学习资料</a></dd>
                <dd><a href="#" class="gn">功能二</a></dd>
                <dd><a href="#" class="gn">功能三</a></dd>
            </dl>
        </li>
    </ul>

</header>
<!--导航结束-->

<!--功能-->
<div class="layui-container">
     <div class="layui-row">
         <div class="layui-col-md12">
         <table class="layui-table">
             <colgroup>
                 <col width="100">
                 <col width="800">
                 <col>
                 <col>
             </colgroup>
             <thead>
             <tr>
                 <th>类型</th>
                 <th>文件名称</th>
                 <th>上传日期</th>
                 <th></th>
             </tr>
             </thead>
             <tbody>
             <tr>
                 <td>网络安全</td>
                 <td>CentOS-7-x86_64-DVD-1810（7.6）.iso</td>
                 <td>2020-10-26</td>
                 <td style="text-align: center;"><a href="/literature/CentOS-7-x86_64-DVD-1810（7.6）.iso"
                        download="CentOS-7-x86_64-DVD-1810（7.6）.iso"><button class="layui-btn">下载</button></a></td>
             </tr>
             <tr>
                 <td>网络安全</td>
                 <td>eNSP V100R003C00SPC100.zip</td>
                 <td>2020-10-26</td>
                 <td style="text-align: center;"><a href="/literature/eNSP V100R003C00SPC100.zip"
                                                    download="eNSP V100R003C00SPC100.zip"><button class="layui-btn">下载</button></a></td>
             </tr>
             <tr>
                 <td>网络安全</td>
                 <td>kali-linux-2019.1a-amd64.iso</td>
                 <td>2020-10-26</td>
                 <td style="text-align: center;"><a href="/literature/kali-linux-2019.1a-amd64.iso"
                                                    download="kali-linux-2019.1a-amd64.iso"><button class="layui-btn">下载</button></a></td>
             </tr>
             <tr>
                 <td>网络安全</td>
                 <td>SecureCRT.rar</td>
                 <td>2020-10-26</td>
                 <td style="text-align: center;"><a href="/literature/SecureCRT.rar"
                                                    download="SecureCRT.rar"><button class="layui-btn">下载</button></a></td>
             </tr>
             <tr>
                 <td>网络安全</td>
                 <td>VirtualBox-5.2.22-126460-Win.exe</td>
                 <td>2020-10-26</td>
                 <td style="text-align: center;"><a href="/literature/VirtualBox-5.2.22-126460-Win.exe"
                                                    download="VirtualBox-5.2.22-126460-Win.exe"><button class="layui-btn">下载</button></a></td>
             </tr>
             <tr>
                 <td>网络安全</td>
                 <td>VirtualBox-5.2.30-130521-Win.exe</td>
                 <td>2020-10-26</td>
                 <td style="text-align: center;"><a href="/literature/VirtualBox-5.2.30-130521-Win.exe"
                                                    download="VirtualBox-5.2.30-130521-Win.exe"><button class="layui-btn">下载</button></a></td>
             </tr>
             <tr>
                 <td>网络安全</td>
                 <td>VM15.5.zip</td>
                 <td>2020-10-26</td>
                 <td style="text-align: center;"><a href="/literature/VM15.5.zip"
                                                    download="VM15.5.zip"><button class="layui-btn">下载</button></a></td>
             </tr>
             <tr>
                 <td>网络安全</td>
                 <td>windows server.rar</td>
                 <td>2020-10-26</td>
                 <td style="text-align: center;"><a href="/literature/windows server.rar"
                                                    download="windows server.rar"><button class="layui-btn">下载</button></a></td>
             </tr>
             <tr>
                 <td>网络安全</td>
                 <td>Windows 7 Enterprise 32位.iso</td>
                 <td>2020-10-26</td>
                 <td style="text-align: center;"><a href="/literature/Windows 7 Enterprise 32位.iso"
                                                    download="Windows 7 Enterprise 32位.iso"><button class="layui-btn">下载</button></a></td>
             </tr>
             </tbody>
         </table>
         </div>
     </div>
</div>






<script src="layui.js" charset="utf-8"></script>
<script src="litera.js" charset="utf-8"></script>
<script>

</script>
</body>

</html>