<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>学习资料</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/layui.css"  media="all">
    <link rel="stylesheet" href="litera.css"  media="all">
</head>


<body id="body" οnscrοll=SetCookie("scroll",body.scrollTop); οnlοad="scrollback();">
<!--<a href="/literature/test.txt"-->
<!--   download="w3logo"-->
<!--&gt;123123</a>-->
<!--导航-->
<header>
    <ul class="layui-nav lthul" lay-filter="">
        <li class="layui-nav-item"><a href="#" style="    color: #0C0C0C; "><img class="CCSU-icon" src="img/logo_1.png"></a></li>
        <li class="layui-nav-item"><a href="#" style="    color: #0C0C0C; ">计算机科学与应用数学学院</a></li>
        <li class="layui-nav-item"><a href="#" style="    color: #0C0C0C; ">软件1806班</a></li>
        <li class="layui-nav-item layui-this"><a href="/index" style="    color: #0C0C0C; ">作业</a></li>
        <li class="layui-nav-item" >
            <a href="javascript:;" style="    color: #0C0C0C; ">功能菜单</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a href="/litera" >学习资料</a></dd>
                <dd><a href="#">功能二</a></dd>
                <dd><a href="#">功能三</a></dd>
            </dl>
        </li>
    </ul>

</header>
<!--导航结束-->

<!--功能-->
<div class="layui-container">
     <div class="layui-row">

    测试测试
     </div>
</div>






<script src="layui.js" charset="utf-8"></script>
<script src="litera.js" charset="utf-8"></script>
<script>

</script>
</body>

</html>