<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/layui.css"  media="all">
    <link rel="stylesheet" href="index.css"  media="all">
</head>
<body>
<div class="layui-body">
    <!-- 内容主体区域 -->
    <table class="layui-table" id="test" lay-filter="test"></table>
        <a class="layui-btn layui-btn-xs"  lay-event="download">下载</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>

</div>



<script src="layui.js" charset="utf-8"></script>
<script src="index.js" charset="utf-8"></script>

</body>

</html>