<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>作业下载</title>
    <link rel="stylesheet" href="css/layui.css"  media="all">
    <link rel="stylesheet" href="index.css"  media="all">
</head>
<body id="body" οnscrοll=SetCookie("scroll",body.scrollTop); οnlοad="scrollback();">
<!--导航-->
<header>
    <ul class="layui-nav lthul" lay-filter="">
        <li class="layui-nav-item"><a href="#"><img class="CCSU-icon" src="img/logo.jpg"></a></li>
        <li class="layui-nav-item"><a href="#">计算机科学与应用数学学院</a></li>
        <li class="layui-nav-item"><a href="#">软件1806班</a></li>
        <li class="layui-nav-item layui-this"><a href="/index">作业</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">功能菜单</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a href="/litera" >学习资料</a></dd>
                <dd><a href="#">功能二</a></dd>
                <dd><a href="#">功能三</a></dd>
            </dl>
        </li>
    </ul>
</header>


<!--功能-->

<script src="layui.js" charset="utf-8"></script>
<script src="index.js" charset="utf-8"></script>
</body>
</html>