<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>作业下载</title>
    <link rel="stylesheet" href="css/layui.css"  media="all">
    <link rel="stylesheet" href="index.css"  media="all">
    <script src="/lib/L2Dwidget.min.js"></script>
</head>
<body id="body" οnscrοll=SetCookie("scroll",body.scrollTop); οnlοad="scrollback();">
<!--导航-->
<header>
    <ul class="layui-nav lthul" lay-filter="">
        <li class="layui-nav-item"><a href="#"><img class="CCSU-icon" src="img/logo.jpg"></a></li>
        <li class="layui-nav-item"><a href="#">计算机科学与应用数学学院</a></li>
        <li class="layui-nav-item"><a href="#">软件1806班</a></li>
        <li class="layui-nav-item layui-this"><a href="/index">作业</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">功能菜单</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a href="/litera" >学习资料</a></dd>
                <dd><a href="#">功能二</a></dd>
                <dd><a href="#">功能三</a></dd>
            </dl>
        </li>
    </ul>
</header>


<!--功能-->

<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-md2">
            <ul class="layui-nav layui-nav-tree chuizhi" lay-filter="test">
                <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
                <li class=""><a href="/index">Python 作业</a></li>
                <li class=""><a href="/webWork">Web 作业</a></li>
                <li class=""><a href="/netSecurity">网络安全 作业</a></li>
                <li class=""><a href="/tableFile">作业(资源)下载</a></li>
            </ul>
        </div>
        <div class="layui-col-md10">
            <fieldset>
                <legend>
                    <span>作业下载</span>
                </legend>
            </fieldset>

            <div class="layui-tab">
                <ul class="layui-tab-title">
                    <li class="layui-this">课后作业</li>
                    <li>用户管理</li>
                    <li>权限分配</li>
                    <li>商品管理</li>
                    <li>订单管理</li>
                </ul>
                <div class="layui-tab-content">

                    <div class="layui-tab-item layui-show">
                        <table lay-filter="demo">
                            <thead>
                                <tr>
                                    <td lay-data="{field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'}">ID</td>
                                    <td lay-data="{field: 'workName', title: '文件名', width:490}">文件名</td>
                                    <td lay-data="{field: 'category', title: '分类', width:80, sort: true}">分类</td>
                                    <td lay-data="{field: 'sign', title: '上传者', width: 80}">上传者</td>
                                    <td lay-data="{field: 'uploadDate', title: '上传日期', width: 110, sort: true}">上传日期</td>
                                    <td lay-data="{field: '123', title: '', width: 90}"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="tb:${all}">
<!--                                    <td hidden th:value=""></td>-->
                                    <td th:text="${{tb.id}}"></td>
                                    <td th:text="${{tb.workName}}"></td>
                                    <td id="cate" th:value="${{tb.category}}" th:text="${{tb.category}}"></td>
                                    <td th:text="${{tb.sign}}"></td>
                                    <td th:text="${{tb.uploadDate}}"></td>
                                    <td>
                                        <a href="#" th:href="@{/downFile(id=${tb.id})}">
                                            <button style="position: relative;top: -1px;height: 29px;width: 60px" type="button" class="layui-btn layui-btn-sm layui-btn-normal" >
                                                下载
                                            </button></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                    <div class="layui-tab-item ">内容2</div>
                    <div class="layui-tab-item">内容3</div>
                    <div class="layui-tab-item">内容4</div>
                    <div class="layui-tab-item">内容5</div>
                </div>
            </div>


        </div>
    </div>
</div>


<!--<label class="layui-form-label">作业下载</label>-->
<!--                    <div class="layui-input-inline">-->
<!--                        <table class="layui-hide" id="file" lay-filter="file">-->
<!--                           <button id="down" type="button" class="layui-btn" onclick="downFile()"     >-->
<!--                            <i class="layui-icon">&#xe601;</i>下载作业-->
<!--                            </button>-->
<!--                        </table>-->
<!--                    </div>-->

<div id="cc">
    <script>
        L2Dwidget.init({
            model: { jsonPath: "/assets/asuna_04.model.json" }
        });
    </script>
</div>
<script src="layui.js" charset="utf-8"></script>
<script src="downFile.js" charset="utf-8"></script>
</body>
</html>